################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KTU_STPP_biudzetas/.vs/KTU_STPP_biudzetas/v16
/KTU_STPP_biudzetas/.vs/KTU_STPP_biudzetas/v15
/KTU_STPP_biudzetas/.vs
